<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :location do |d| %>
    <div class="field">
        <%= d.label :city %>
        <%= d.text_area :city %>
    </div>
  <% end %>

  <% HouseRule.all.each do |house_rule| %>
    <%= check_box_tag "room[house_rule_ids][]", house_rule.id %>
    <%= house_rule.name %><br />
  <% end %>

  <%= f.fields_for :about_property do |v| %>
    <div class="field">
        <%= v.label :property_type %>
        <%= v.text_area :property_type %>
    </div>
    <div class="field">
        <%= v.label :numb_rooms %>
        <%= v.text_area :numb_rooms %>
    </div>
    <div class="field">
        <%= v.label :numb_bathrooms %>
        <%= v.text_area :numb_bathrooms %>
    </div>
    <div class="field">
        <%= v.label :rooms_avail %>
        <%= v.text_area :rooms_avail %>
    </div>
  <% end %>

  <%= f.fields_for :about_room do |l| %>
    <div class="field">
        <%= l.label :monthly_rent %>
        <%= l.text_area :monthly_rent %>
    </div>
    <div class="field">
        <%= l.label :add_utility_cost %>
        <%= l.check_box :add_utility_cost %>
    </div>
    <div class="field">
        <%= l.label :room_type %>
        <%= l.text_area :room_type %>
    </div>
    <div class="field">
        <%= l.label :furnished %>
        <%= l.text_area :furnished %>
    </div>
    <div class="field">
        <%= l.label :ensuite %>
        <%= l.check_box :ensuite %>
    </div>
    <div class="field">
        <%= l.label :avail_from %>
        <%= l.text_area :avail_from %>
    </div>
    <div class="field">
        <%= l.label :min_stay %>
        <%= l.text_area :min_stay %>
    </div>
  <% end %>

  <%= f.fields_for :housemate do |n| %>
    <div class="field">
        <%= n.label :numb_current_mates %>
        <%= n.text_area :numb_current_mates %>
    </div>
    <div class="field">
        <%= n.label :pref_gender %>
        <%= n.text_area :pref_gender %>
    </div>
    <div class="field">
        <%= n.label :pref_occupation %>
        <%= n.text_area :pref_occupation %>
    </div>
    <div class="field">
        <%= n.label :pref_age_min %>
        <%= n.text_area :pref_age_min %>
    </div>
    <div class="field">
        <%= n.label :pref_age_max %>
        <%= n.text_area :pref_age_max %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
