<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location.city %>
</p>

<strong>House Rules:</strong>
  <% @room.house_rules.each do |n| %>
    <br /><%= n.name %>
  <% end %>
</p>

<% @room.room_images.each do |r| %>
    <div class="main-page-blocks">
      <%= image_tag r.photo.url(:med) %>
    </div>
<% end %>

<strong>Room Amenities:</strong>
  <% @room.room_amenities.each do |x| %>
    <br /><%= x.name %>
  <% end %>
</p>

<!-- ABOUT PROPERTY -->
<p>
  <strong>ABOUT PROPERTY</strong><br/><br/>
  <strong>Property Type</strong>
  <%= @room.about_property.property_type %>
</p>

<p>
  <strong>Number of Rooms</strong>
  <%= @room.about_property.numb_rooms %>
</p>

<p>
  <strong>Number of Bathrooms</strong>
  <%= @room.about_property.numb_bathrooms %>
</p>

<p>
  <strong>Number of Rooms Available</strong>
  <%= @room.about_property.rooms_avail %>
</p>

<p>
	<strong>Submitted by:</strong>
  <%= @room.user.email %>
</p>

<!-- ABOUT ROOM -->

<p>
  <strong>ABOUT ROOM</strong><br/><br/>
  <strong>monthly_rent</strong>
  <%= @room.about_room.monthly_rent %>
</p>

<p>
  <strong>add_utility_cost</strong>
  <%= @room.about_room.add_utility_cost %>
</p>

<p>
  <strong>room_type</strong>
  <%= @room.about_room.room_type %>
</p>

<p>
  <strong>furnished</strong>
  <%= @room.about_room.furnished %>
</p>

<p>
  <strong>ensuite</strong>
  <%= @room.about_room.ensuite %>
</p>
<p>
  <strong>avail_from</strong>
  <%= @room.about_room.avail_from %>
</p>
<p>
  <strong>min_stay</strong>
  <%= @room.about_room.min_stay %>
</p>

<!-- HOUSEMATE -->

<p>
  <strong>HOUSEMATE:</strong><br/><br/>
  <strong>numb_current_mates</strong>
  <%= @room.housemate.numb_current_mates %>
</p>

<p>
  <strong>pref_gender</strong>
  <%= @room.housemate.pref_gender %>
</p>

<p>
  <strong>pref_occupation</strong>
  <%= @room.housemate.pref_occupation %>
</p>

<p>
  <strong>Preferred age min</strong>
  <%= @room.housemate.pref_age_min %>
</p>

<p>
  <strong>pref age max</strong>
  <%= @room.housemate.pref_age_max %>
</p>
<p>
  <strong>Submitted by:</strong>
  <%= @room.user.email %>
</p>

<p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
